* {
    font-size: 25px;
}

button {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    word-wrap: break-word;
    padding: 5px 5px;
    margin-top: 150px;
}

button:active{
    background-color: red;
}